
<h1>{{head}}</h1>
<md-card style="margin-bottom: 20px;" [style.background]="'#b3c6ff'">
    <md-input *ngIf='Observername' placeholder={{obsname}} disabled [(ngModel)]='Observername'></md-input>
    <md-input *ngIf='area' placeholder={{placename}} disabled [(ngModel)]='area'></md-input>
    <b>{{lastdetails}}:</b> {{lastdata}}
</md-card>
<section layout="row" *ngIf='activities' layout-sm="column" layout-align="center center" layout-wrap>
    <button *ngFor='let activity of activities'  value={{activity[0].id}} id={{activity[0].id}} (click)="goToNext(activity[0].name)" (dblclick)="goToEdit(activity[0].id,activity[0].name,Edit)" md-raised-button color="BoschBlue75" style="margin: 2px 2px;height:120px;width:245px;vertical-align:middle;">
        {{activity[0].name}}
    </button>
</section>

<md2-dialog #Edit>
    <md2-dialog-title>{{update}} {{head}}</md2-dialog-title>
    <md-input class="demo-full-width" placeholder={{company}} disabled value="Robert Bosch GmbH"> </md-input>
    <table style="width: 100%" cellspacing="0" cellpadding="10">
        <tr>
            <td><md-input #Id placeholder="ID" disabled style="width: 80%" value={{id}} id={{id}}></md-input></td>
        </tr>
        <tr>
            <td><md-input #activity placeholder={{empactivity}} style="width: 80%" value={{activityname}} required></md-input></td>
        </tr>
    </table>
    <md2-dialog-footer>
        <button md-raised-button color="success" (click)="goToUpdate(Id.value,activity.value,Edit)">{{update}}</button>
        <button md-raised-button color="BoschRed" (click)="confirm1.show()">{{delete}}</button>
        <button md-raised-button (click)="Edit.close()">{{cancel}}</button>
    </md2-dialog-footer>
</md2-dialog>

<md2-dialog #confirm1>
    <md2-dialog-title>{{warning}}!!!</md2-dialog-title>
    <div><b>{{id}}-</b>{{warndata}}</div>
    <md2-dialog-footer>
        <button md-raised-button color="success" (click)="goToDelete(id,activityname,confirm1,Edit)">{{yes}}</button>
        <button md-raised-button color="BoschRed" (click)="confirm1.close()">{{no}}</button>
    </md2-dialog-footer>
</md2-dialog>

